body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
  border-radius: 10px;
}

.btn-light {
  border-radius: 50%;
}

.btn-primary {
  border-radius: 50%;
}

.text-danger {
  color: red !important;
}

@media (max-width: 600px) {
  .form-group textarea {
    font-size: 14px;
  }
}
